<footer>
  <div class="footer_conteiner">
    <div class="footer_conteiner_top">
      <img src="../../../assets/img/Screenshot_1.svg" alt="">
      <ul>
        <li>About us</li>
        <li>Our Staff</li>
        <li>Walk-in Clinic</li>
        <li>Appointments </li>
      </ul>
    </div>
    <div class="footer_conteiner_bottom">
      <div class="social_media">
        <h1>Social media </h1>
     <div class="foter_media_item">
         <div class="footer_social"><i class="fab fa-linkedin-in"></i></div>
         <div class="footer_social"><i class="fab fa-facebook-f"></i></div>
         <div class="footer_social"><i class="fab fa-twitter"></i></div>
         <div class="footer_social"><i class="fab fa-youtube"></i></div>
     </div>
      </div>
      <div class="footer_services">
        <h1>Services </h1>
        <div class="footer_service_items">
          <div>
            <p>Family Practice </p> 
            <p>Optometry</p>    
            <p>Dental Clinic</p>
            <p>Dietitian</p>
            <p>Physiotherapy Clinic
            </p>
          </div>
          <div>
            <p>Audiology/Hearing Aids </p>
            <p>X-ray Ultrasound Lab</p>
            <p>Nuclear Cardiologists </p>
            <p>Pharmacy </p>
          </div>
        </div>
      </div>
      <div class="footer_contacts" >
        <h1>Contacts</h1>
        <div class="footer_contacts_item">
            <p><i class="fas fa-phone-alt"></i> (308) 555-0121</p>
            <p><i class="fas fa-envelope"></i>kelly.howard@example.com</p>
            <p><i class="fas fa-map-marker-alt"></i>6928 Blossom Hill Rd undefined Surrey, Oregon 20441 United States</p>
        </div>
      </div>
      <div class="hours_conteiner">
        <h1>Hours</h1>
        <div class="footer_hourse_item">
            <ul>
                <li>Mon-Thurs:9AM - 8PM</li>
                <li>Friday: 9AM - 2PM</li>
                <li>Saturday:9AM - 3PM</li>
                <li>Sunday:CLOSED</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
      <p>Copyright © Lockwood.com 2019 | Disclaimer</p>
  </div>
</footer>
