*{
    list-style: none;
    font-family: 'Roboto', sans-serif

}
i {
    font-family: fontawesome !important;
  }
header{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    
}
.conteiner{
    width:85%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-bar{
    width: 90%;
    height: 28px;
    ul{
        height: 28px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-left: 2%;
        position: relative;
        li{
          
            color: #6D6F75;
            font-weight: 400;
            font-size:16px;
            display: flex;
            justify-content:flex-start;
            &:hover{
                border-bottom: 1px solid silver;
                color: rgb(44, 43, 43);
            }
            i{
                margin-left: 5px;
               font-size: 11px;
                margin-top: 5px;
                display: block;
            }
        }
    }
}

//small bar
.small_bar{
    display: none;   
}
.small_search{
    display: none;
}
.burger_conteiner{
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 50vh;
    background-color: rgba($color: #f8f4f4, $alpha: 0.8 );
    opacity: 90%;
    top: 69px;
    left: 0px;
    ul{
        width: 100%;
        display: flex;
        flex-direction: column; 
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 10vh;
            color: #6D6F75;
            border-bottom: 1px rgb(95, 94, 94) solid;
            &:hover{
                color: rgb(229, 231, 235);
                background-color: rgba($color: #5e5c5c, $alpha: 0.8 );
                transition: 0.4s;
            }
        }
    }
}



@media screen and(max-width:720px) and(min-width:480px) {
    .nav-bar{  
        width: 95%;
        height: 28px;
        ul{
            height: 28px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin-left: 2%;
            li{
                color: #6D6F75;
                font-weight: 400;
                font-size:12px;
                display: flex;
                justify-content:flex-start;
                i{
                    margin-left: 5px;
                   font-size: 11px;
                    margin-top: 5px;
                    display: block;
                }
            }
        }
    }
    .burger_conteiner{
        display:none;
    }
}
@media screen and(max-width:480px)  {
    .small_bar{
        display: inline-block;    
        i{
            font-size: 22px;   
            font-weight: 100;
        }
    }
    .small_search{
        display: inline-block; 
        i{
            font-size: 22px; 
            font-weight: 100;  
        }   
    }
    .nav-bar{
        display: none;
    }
}