<div class="conteiner">
  <div class="first-conteiner">
        <div style="left: 55%; top:63%;" class="circle_empty blue_circle_empty"></div>
        <div  style="left:-6%; top:85%;"class=" big_circle big_circle_white frist_big_circle "></div>
       
    <div class="first-inside">
      <div class="first-left">
        <div class="first-text">
          <h1>Walk-In Clinic Downtown Toronto</h1>
          <p>Sickness, injury, and pain can strike suddenly. When you are suffering, you need a trusted walk-in medical
            clinic you can rely on to provide optimal care quickly. Lockwood strives to provide a full range of
            diagnostic and treatment options at our conveniently located downtown Toronto clinic. Featuring advanced
            medical technology and experienced, caring staff, Lockwood is committed to reducing the stress and worry of
            medical care with our patient-friendly approach and all-in-one location convenience. 
          </p>
          <button class="btn_check_wait">Check Wait Times</button>
        </div>
      </div>
      <div class="first-right">
        <img src="../../../assets/img/secondFirst.png" alt="">
      </div>
      <div class="first-spot"></div>
    </div>
  </div>

  <div class="second-conteiner">
        <div style="right: 7%; top:83%;"class="circle_empty blue_circle_empty"></div>
    <div class="second-inside">
          
      <div class="second-conteiter-title">
        <h1>Services Offered at Lockwood Walk-In Clinic Downtown Toronto</h1>
        <p>Lockwood offers a range of diagnostic and treatment options including:</p>
      </div>
      <div class="second-blocks">
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s1.svg" alt="">
            <p>X-ray and Ultrasound</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s2.svg" alt="">
            <p>Blood Testing</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s3.svg" alt="">
            <p>Echocardiograms</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s4.svg" alt="">
            <p>Stress Tests</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s5.svg" alt="">
            <p>Cardiac Consultation</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s6.svg" alt="">
            <p>Bone Density Testing</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s7.svg" alt="">
            <p>Thyroid Scanning</p>
          </div>
        </div>
        <div class="second-item-block">
          <div class="second-item-inside">
            <img src="../../../assets/img/s8.svg" alt="">
            <p>Pharmacy </p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="third_block">
    <div class="third_content">
      <div class="third_photo">
        <img src="./../../../assets/img/image29.png" alt="">
      </div>
      <div class="third_text">
        <h1>We also offer <span>sleep disorder treatment</span> and diagnosis in our offsite location and can refer
          patients to specialists for additional treatment and testing <span>when needed</span> . </h1>
        <p>To find if Lockwood offers the services that you need, please contact us
        </p>
        <div class="third_about">
          <button class="read_more_btn">Read now</button>
          <div class="third_phone_number">
            <i class="fas fa-phone-alt"></i>
            <p>(308)555-1021</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="four_conteiner">
        <div  style="left:-6%; top:70%;"class=" big_circle big_circle_white frist_big_circle "></div>
    <div class="four-inside">
      <div class="four-title">
        <h1>Why Choose Lockwood Clinic for Your Health? </h1>
      </div>
      <div class="four_content">
        <div class="four_nav_bar">
          <ul>
            <li>Transparent Pricingi</li>
            <li>Convenience</li>
            <li>Specialists All in One Place </li>
            <li>Security and Personalized Care</li>

          </ul>
        </div>
        <div class="four_text_content">
          <div class="four-text">
            <div class="four-text-content">
              <h1>Transparent Pricing </h1>
              <p>All our physicians participate in the Ontario Health Insurance Plan (OHIP) which helps to streamline
                payments and ensure transparency in pricing. </p>
            </div>

          </div>
          <div class="four-image">
            <img src="../../../assets/img/image65.png" alt="">
          </div>

        </div>
      </div>
      <div class="four-under">

        <div class="four-under-inside">
          <h1>Where is Lockwood Clinic Located?</h1>
          <p>Located in downtown Toronto close to many businesses and attractions, Lockwood can be found at 790 Bay
            Street. Parking is offered to the south of the building on Bay St along with underground parking. </p>
        </div>
      </div>
    </div>

    <div class="four-title-small">
            <h1>Why Choose Lockwood Clinic for Your Health? </h1>
          </div>
    <div class="small-four-conteiner">
            
      <div class="small-four-inside">
        <h1>Transparent Pricing </h1>
        <p>All our physicians participate in the Ontario Health Insurance Plan (OHIP) which helps to streamline payments
          and ensure transparency in pricing. </p>
          <img src="../../../assets/img/image65.png" alt="">
      </div>
     
    </div>
    <div class="points">
            <div class="ponit_conteiner">
              <div class="point"></div>
              <div class="point"></div>
              <div class="point"></div>
            </div>
      
    </div>

    <div class="four-under-small">
            <h1>Where is Lockwood Clinic Located?</h1>
            <p>Located in downtown Toronto close to many businesses and attractions, Lockwood can be found at 790 Bay
              Street. Parking is offered to the south of the building on Bay St along with underground parking. </p>
     </div>

   




  </div>
  <div class="conteiner-five">
    <div class="five-inside">
      <div class="five-map">
        <img src="../../../assets/img/map.png" alt="">
      </div>
      <div class="five-content">
        <div class="five-text">
          <div>
            <h1>Head Office</h1>
          </div>
          <div><i class="fas fa-phone-alt"></i>
            <p>(308) 555-0121</p>
          </div>
          <div><i class="fas fa-envelope"></i>
            <p>kelly.howard@example.com</p>
          </div>
          <div class="five-text-adress"> <i class="fas fa-map-marker-alt"></i>
            <p>6928 Blossom Hill Rd undefined Surrey, Oregon 20441 United States</p>
          </div>
        </div>
        <div class='five-social-network'>

          <div class="social-item"><i class="fab fa-linkedin-in"></i></div>
          <div class="social-item"><i class="fab fa-facebook-f"></i></div>
          <div class="social-item"><i class="fab fa-twitter"></i></div>
          <div class="social-item"><i class="fab fa-youtube"></i></div>
          <!-- <div class="five_social"><i class="fab fa-linkedin-in"></i></div>
            <div class="five_social"><i class="fab fa-facebook-f"></i></div>
            <div class="five_social"><i class="fab fa-twitter"></i></div>
            <div class="five_social"><i class="fab fa-youtube"></i></div> -->


        </div>


      </div>
    </div>
  </div>

</div>
