<div class="conteiner">
  <div class="container_first">
    <div style="left: 1%; top: 30%;" class="circle_empty white_blue_circle_empty"></div>
    <div style="left: 45%; top:63%;" class="circle_empty blue_circle_empty"></div>
    <div style="right: 15%; top:10%;" class="circle white_blue_circle"></div>
    <div style="right:8%; top:95%;" class="circle darck_blue_circle"></div>
    <div class=" big_circle big_circle_white frist_big_circle "></div>

    <div class="left_side">
      <div class="first_wrapper">
        <h1>Your Friendly Neighborhood Medical Clinic</h1>
        <p>Lockwood Clinic has provided compassionate and comprehensive care to the Ontario community for nearly a
          century.
          Founded on the belief that patients should have a convenient and all-inclusive destination for diagnostic
          testing
          and related treatment</p>
        <button class="btn_check_wait">Check Wait Times</button>
      </div>
    </div>
    <div class="right_side"><img class="image" src="../../../assets/img/1.png" /></div>
  </div>


  <div class="container_second">

    <div style="left: 5%; top:90%;" class="circle blue_circle"></div>
    

    <div class="container_second_content">
        <div class="second_small_header">
            <h1>Medical Clinic <br> Downtown Toronto</h1>
          </div>
      <div class="second_photo">
        <div class="second_silver_background"></div>
        <img src="../../../assets/img/Group233.png" alt="">
        <div class="second_blue_background"></div>
      </div>
      <div class="second_text">
        <h1>Medical Clinic <br> Downtown Toronto</h1>
        <p>Lockwood Clinic has provided compassionate and comprehensive care to the Ontario community for nearly a
          century. Founded on the belief that patients should have a convenient and all-inclusive destination for
          diagnostic testing and related treatment, Lockwood works to provide medical and health care that is as patient
          friendly as it is extensive.<br><br>
          Our downtown medical clinic provides a “one-stop” healthcare destination for Toronto area residents of all
          ages. We provide onsite testing with Nuclear Cardiology and an X-Ray Ultrasound Lab along with a Pharmacy and
          Physiotherapy Clinic.<br><br>
          Each department of our clinic is directed by experienced physicians and professionals including onsite
          pathologists, ultrasound technicians, cardiologists, and family practice physicians. Each member of the
          Lockwood team has extensive experience in their field and patient care.<br><br>
          Experience the Lockwood difference with our commitment to healthcare that is focused on total wellness and
          patient satisfaction.
        </p>
      </div>
    </div>
  </div>


  <div class="container_third">
    <div style="right:5%; top:50%;" class="circle darck_blue_circle_empty"></div>
    <div style="right:25%; top:85%;" class="circle white_blue_circle"></div>
    <div style="left:-4%; top:60%;" class=" big_circle big_circle_blue "></div>
    <div class="third_block-spot">
      <img src="../../../assets/img/Vector8.png" alt="">
    </div>

    <div class="container_third_content">
      <div class="header_for_small">
        <h1>
          Walk-In Medical Clinic Downtown, Toronto
        </h1>
      </div>
      <div class="third_text">
        <h1>
          Walk-In Medical Clinic Downtown, Toronto
        </h1>
        <p>
          Lockwood walk-in clinic provides convenient and trusted care when you need it. As a dedicated walk-in clinic,
          we strive to have the staff and supplies available to handle a wide range of medical concerns. From simple
          coughs and colds to personal injuries and diagnostic needs, our walk-in clinic is here to provide the best
          care for our community.<br><br>
          By maintaining a centralized database of patient information, our entire medical staff can access your files
          and provide optimal, personalized care based on your chart. This helps to minimize waiting for patients and
          the potential for inaccurate or incomplete medical history information.<br><br>
          While Lockwood does accept appointments, referrals are not required for the majority of our services unless
          you require a specialist. Our walk-in services allow our patients to get care quickly for a variety of
          illnesses, injuries and preventative treatments including:

        </p>
      </div>

      <div class="third_block">
        <div class="third_block_main">
          <div class="third_block_left">
            <div class="block_left_first third_block_button third_blue_block">
              <div class="third_block_inside">
                <img src="./../../../assets/img/1.svg" alt="">
                <p style="color: white;">24 Hr Holter Monitoring</p>
              </div>
            </div>
            <div class="block_left_second third_block_button">
              <div class="third_block_inside">
                <img src="./../../../assets/img/2.svg" alt="">
                <p>Audiology Testing</p>
              </div>
            </div>
          </div>
          <div class="third_block_right">
            <div class="block_right_first third_block_button">
              <div class="third_block_inside">
                <img src="./../../../assets/img/3.svg" alt="">
                <p>24 Hr Blood Pressure Monitoring</p>
              </div>
            </div>
            <div class="block_right_second third_block_button">
              <div class="third_block_inside">
                <img src="./../../../assets/img/4.svg" alt="">
                <p>Spirometry Testing</p>
              </div>
            </div>
            <div class="block_right_third third_block_button">
              <div class="third_block_inside">
                <img src="./../../../assets/img/5.svg" alt="">
                <p>Optometrist/Eye Exams/Eyewear</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="four_block">
    <div class="four_content">
      <div class="four_photo">
        <img src="./../../../assets/img/image29.png" alt="">
      </div>
      <div class="fout_text">
        <h1>learn more about <span>our hours</span> And when an <span>Appointment</span> is <span>Required</span> </h1>
        <p>If have additional questions, our highly trained staff can address them during normal business hours by
          calling us at
        </p>
        <div class="four_about">
          <button class="read_more_btn">Read now</button>
          <div class="four_phone_number">
            <i class="fas fa-phone-alt"></i>
            <p>(308)555-1021</p>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="five_block" style="position: relative;z-index:0">
    <div style="right:-2%; top:65%;" class=" big_circle big_circle_white "></div>
    <div style="left:5%; top:90%;" class="circle darck_blue_circle_empty"></div>
    <div style="right:10%; top:6%;" class="circle white_blue_circle_empty"></div>
    <div class="five_content">
      <div class="five_nav_bar">
        <ul>
          <li>Family Practice</li>
          <li>Optometry </li>
          <li>Dental Clinic </li>
          <li>Dietitian</li>
          <li>Physiotherapy</li>
          <li>Audiology/Hearing Aids</li>
          <li>X-Ray Ultrasound Lab</li>
          <li>Nuclear Cardiologists</li>
        </ul>
      </div>
      <div class="five_text_content">
        <div class="five_title">
          <h1>Family Practice at Lockwood Downtown Medical Clinic </h1>
          <img src="../../../assets/img/Unio5.png" alt="">
        </div>
        <div class="five_text">
          <p>Lockwood family practice provides comprehensive and compassionate care for your whole family. Our medical
            clinic downtown Toronto includes primary care options that make it easy to get the healthcare support you
            need. From treatment for common illnesses such as strep throat and the flu to more advanced concerns, we
            strive to provide care that you can count on to keep you and your loved ones healthy.<br><br>
            At our conveniently located medical clinic downtown, Toronto patients are treated by our friendly staff and
            experienced physicians in our modern facility. Learn more about our primary and preventative care options
            available from our downtown medical clinic.
          </p>
          <button class="five_read_btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="five_small_content">
      <div class="five_text">
        <div class="five_title">
          <h1>Family Practice at Lockwood Downtown Medical Clinic </h1>
        </div>
        <p>Lockwood family practice provides comprehensive and compassionate care for your whole family. Our medical
          clinic downtown Toronto includes primary care options that make it easy to get the healthcare support you
          need. From treatment for common illnesses such as strep throat and the flu to more advanced concerns, we
          strive to provide care that you can count on to keep you and your loved ones healthy.<br><br>
          At our conveniently located medical clinic downtown, Toronto patients are treated by our friendly staff and
          experienced physicians in our modern facility. Learn more about our primary and preventative care options
          available from our downtown medical clinic.
        </p>
        <button class="five_read_btn">Read more</button>
      </div>
    </div>
    <div class="points">
      <div class="ponit_conteiner">
        <div class="point"></div>
        <div class="point"></div>
        <div class="point"></div>
      </div>

    </div>
  </div>

  <div class="six_block">
    <div class="six_conteiner">
      <div class="six_text_content">
        <h1>Pharmacy</h1>
        <p>Fill your prescriptions at our on-site pharmacy for the fastest and most convenient service. Most
          prescriptions can be ready in a matter of minutes, making this an ideal solution for picking up medications on
          the same day as an appointment.<br><br>
          Our knowledgeable pharmacists can help guide you on precautions for new and existing prescriptions including
          potential drug interactions. As our pharmacy is connected to our clinic, all of your prescription needs can
          easily be filled here..<br><br>
          <span>Pick-up from our pharmacy is on the main floor of our facility.
            Free delivery services are available to local residents. </span>
        </p>
      </div>
      <div class="six_photo">
        <img src="../../../assets/img/image30.png" alt="">
      </div>
    </div>
  </div>




</div>
